@import url('https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css');

:root {
  --nav-width: 220px;

  --first-color: #007bff;
  --first-color-light: #0056b3;
  --text-color: #fff;
  --text-color-light: #ccc;
  --container-color: #1e1e2f;

  --body-font: 'Poppins', sans-serif;
  --small-font-size: 0.9rem;
  --font-medium: 500;
  --z-fixed: 100;
}

.nav {
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  width: 70px;
  background-color: var(--container-color);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease;
  z-index: var(--z-fixed);
  overflow: hidden;
  border-right: 2px solid var(--first-color);
}

.nav:hover {
  width: var(--nav-width);
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin: 1rem 0;
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--text-color-light);
  padding: 0.8rem;
  border-radius: 8px;
  transition: all 0.3s;
  white-space: nowrap;
  text-decoration: none;
}

.nav__link:hover {
  background-color: var(--first-color);
  color: #fff;
  box-shadow: 0 -2px 10px rgba(79,70,229,0.6);
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  min-width: 24px;
  text-align: center;
  color: #fff;
}

.nav__name {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
}

.nav:hover .nav__name {
  opacity: 1;
}

.nav__logout {
  color: var(--text-color-light);
  margin-top: auto;
  padding-top: 1rem;
  margin-bottom: 20px;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

.nav__logout:hover {
  background-color: var(--first-color);
  color: #fff;
  box-shadow: 0 -2px 10px rgba(79,70,229,0.6);
}

.active {
  color: var(--first-color);
}
